
.root {

	/* colors pallette pulled from logo */


	--primary-color: #2d575b;
	--secondary-color:#0E2449;
	/*Dark blue*/


	--accent1-color: #874766; 
	/* light maroon */
	--accent2-color: #2B4E39;
	/* forest green*/
	--accent3-color:#D59711;
	/*mustard*/

	/*  tertiary colors */

	--accent4-color: #8F202F;
	/* rust */
	--accent5-color:#F0B590;
	/* peach */


	/* Navigation */

	--nav-color: #675d50;
	--nav-text: #fff;
	--hover-color: #a9907e;

	/* HEADINGS */
	--heading-font-color: white; 
	--heading-background-color:aqua;
	--h2-font: var(--header-font);

	/***HEADERS *****/
	
	--header-font-color: white; 
	--header-font: var(--header-font), Helvetica, sans-serif;

	--header-background-color: var(--primary-color);



	/****FOOTERS*****/
	--footer-text-color:white;



		/* PARAGRAPHS */

		
		/* TEXT AND SPACING */
	--paragraph-text-color:var(--accent3-color);
	--text-font: var(--parag-font), var(--fallbk1-font), var(--fallbk2-font);
	--light-text-color: #fff;
	--rivers-name-color-light:var(--accent5-color);
	--rivers-name-color-dark: rgb(2, 2, 44);

	/****BORDERS and BOXES *****/
 
		/***
	--border-light: 1px solid rgb (0 0 0 / 0.1);
	--border-thick: 5 px solid rgb (0 0 0 / 0.2);	
	--shadow-box: 0 0 10px rgb(0 0 0 /0.1);
	--important-box: 0 0 15px var(--accent4-color);
	--header-height: 60px;

		*/

}

*{

margin: 0px;
padding: 0px;
box-sizing: border-box;
width: 800 px;

}


body {
font-family: Merriweather, Georgia, serif;
font-size: 1.0em;
color: #333;
background: #fff;

}



h1, h2,h3, h4,h5,h6 {
font-family: "Robato", serif;
color: darkblue;

width: 100%;
}
/*********************1********/



.header-container  {

background-color: aqua; 
width: 100%;
display: grid;
grid-template-columns: 1.5fr 1fr;
height: 50%;
}

.header-container a:hover {

	/* color: var(--nav-hover-color)*/
	color:rgb(214, 152, 18);
	font-size: 30px;
	
}

.logo-img {
	width: auto;
	height: auto;
	align-items: center;
}

.flex-nav-bar {
	
	width: 100%;
	display: flex;
	flex-direction: row;

	list-style: none;
	font-family: san-serif;
	justify-content: space-around;
	align-items: center;

}


.flex-nav-bar  li {
	
	font-family: var(--navbarfont), Arial, 
Helvetica, sans-serif;
	background-color: aqua;
	justify-items: space-around;

	font-size: 25px;

}

.flex-nav-bar a {
	font-size: 25px;
	text-decoration: none;
	padding: 10px;
}

.flex-nav-bar a:hover {
	/* color: var(--nav-hover-color)*/
	color:rgb(214, 152, 18);
}

.logo-img img {

	height: auto;
	width: auto;
	margin: 20px;
}

/***NAV-BAR_MAIN-ABOVE****/




/******************HERO- SECTION )*********/
/****TITLE FLOATS HERE HERO IMG BG, ARTICLE OVERLAY   ****/

/***Hero - GRID CONTAINER- Parent***/
/***grid-container **/
section {
	width: 100%;
	grid-template-columns: repeat (8, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.hero-grid {
	display: grid;

/*border: 5px dashed rgb(20, 3, 3); */
} 

/** hero image to float under 
article**/
.hero-image, img { 
	
	/**This is hero underlay image must 
be 100%*/
	width: 100%;
	height:100%;
	grid-column: 1 / span 8;
	grid-row: 1 / span 6;


}

.hero-content {
	
	position: absolute;	
  	z-index: 1; 

	justify-content: center;
  	align-items: center;
 
 	 width: 100%;



}


.hero-content, hero-section, h1 {

	margin-top: 20px;
	font-family:  Lucida Sans, sans-serif;
	text-align: center;
	width: 100%;
	color: rgb(198, 198, 231);

	grid-column: 1 /span2;
	z-index:1;


}

.article-container {

/*** parent of article text and img**/

height: 100%;
width: 100%; 
grid-template-columns: 1.5fr 1fr;


align-items: center;

overflow: auto;
display: flex;
justify-content: center;

padding-left:  20px;
padding-right: 20px;
padding-top: 50px;
}

.article-paragraph {

float: left;
width: 60%;
grid-column: 2 / span 8;

/*
paragraph-font: var(--paragraph-font), Arial, Helvetica, 
sans-serif;
*/

font-size: 1.4rem;
color:rgb(229, 234, 237);
padding-top: 50px;
}

.article-paragraph1 {
	font-size: 40px;
	color: rgb(255, 252, 252);
	display: grid;
}

.email-form {
	place-content: center;
	align-items: center;
}

.pages-link {

  display: block; /* Makes the link fill the entire button 
area */
  background-color: #4CAF50; /* Example button background 
color */
  color: white;
  padding: 15px 20px;
  text-decoration: none; /* Remove underline */
  border: none;
  cursor: pointer; /* Change cursor on hover */

}

.article-image {
	padding-top: 30px;
	float: right;
	width: 40%;
	justify-content: center;
	align-items: center;
	grid-column: 2;
}

.booking-paragraph {

	font-size: 40px;
	float: right;
	width: 20%;
	
	color:rgb(245, 189, 78);
	justify-content:center;
	text-align: center;
	grid-column: 2;
	margin-right: 1em;
	margin-top: 100px;


}
h1 {
	font-size: 30px;
	color: white
}


/***section 1 article and h1 ****/
	
/****H2 ****/
h2 {

	color:rgb(17, 12, 12);
	background-color: aqua;
	text-align: center;

	align-content: center;
	width: 100%;
	min-height: 60px;
	}

.section1  {

background-color: rgb(45, 84, 
99);

display: grid;
grid-template-columns: repeat(8, 1fr)
}

/******************Section1 Index*******************/
.section1-index-container {

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(5.5, 100px);
	background-color: tan;

}

.fun-facts {
	padding-top: 10px;
	grid-column: 1 / span 1 ;
	grid-row: 1 / span 2;
	margin-top: 20px;
	margin-left: 10px;
	

}
.sect1-article-paragraph-index {

	padding-top: 40px;
	border: 2px solid red;
	grid-column: 2 / span 2;
	grid-row: 1 / span 5;
	margin: 15px;
}

.gallery-3 {

	display: grid;
	grid-column: 5 /span 1;
	margin-top: 10px;
	text-align: center;
	justify-content: center;
	


}
.trip-indx-photo img {
	margin: 10px;
	width: 300%;
	text-align: center;
	justify-content: center;
}

.figcaption {
	text-align: center;
}

.trip-fig {

	text-align: center;
}

/***********Section 1 trips**************/
.section1-trip {

	display: grid;
	grid-template-columns: repeat(8 , 1fr);
	grid-template-rows: repeat(6, 200px)
}
.guide, 
.easy-water {

	grid-row: 1 / span 3;
	text-align: center;
	align-content: center;
	background-color:#675d50;
}

.trip-photo img {
 
	width: 200%;
}

.to-contact {

	grid-column: 3 / span 2;
	background-color:#e9ecf0;
	color: black;
	text-align: center;
	border: 2px solid blue;
	justify-content: center;

}

/****************Section 1 About*******************/
.section1-about-container {
	display: grid;
	grid-template-columns:repeat(4,  .5fr);
	grid-template-rows: repeat(4, 100px)
}

.history-h2 {

	background-color:#2d575b;
}


.adv-heading {
text-align: center;

}

.section1-grid {

	grid-template-columns: repeat (5, 1fr)
}

.abt-photos {
	grid-column: 1 / span 2;
}

.abt-photos {

	grid-column: 3 / span 2;
}

/********************Section 1 Contact******************/





/***************Section2 index****************/
.section2-index-container {

	display: grid;
	grid-template-columns: 2 fr, 1fr;
	grid-template-rows: repeat(5, 100px);
	border: 5px solid darkblue;


}
.message-area email-form {

grid-column: 1 ;
grid-row: 1;
margin: 15 px;
padding-left: 10px;
height: 100px;
width: 50px;

}

.trip-indx-photo7 img {

	margin: 10px;
	grid-column: 2 ;
	grid-row: 3 / span 1;

	
}

.emp-photo {
	width: 100%;
	margin: 20px;
	padding: 10px;
	border: 2px solid white;
}
	
/****************section 2 about ******************/





/*******************section2 contact ***************/



/*****************section 2 Trips********************/



/**************EMAIL FORM* Index****************/
h3 {

	text-align:center;
	font-size: 20px;
	color:#f1e7e9;
	background-color:#675d50
}


.company-info {

	background-color:#a9907e;
	text-align: center;
	font-size: 1.6em;
}

.contact-section2 {
	display: grid;
			
}

.message-image {

	display: grid;
	grid-template-columns: 
repeat(5, 1fr);
	align-items: center;
	min-height: 150px;

}

.message-image img {
	margin-top: 20px;
	padding: 5px;
	max-width: 100%;

}


figcaption {

color: white;
text-align: center;
font-size:  15px;
min-height: 20px;
font-style: italic;

}

form { 
	width: 650px;
	margin: 0 rem;
	padding: 1rem;
	border: 1px solid rgb(0 0 
0  /0.1);
	border-radius: 0.5 rem;
	background-color: #eee;
	display: grid;
}

fieldset {
	display: grid;
	grid-gap: .5 rem;
	margin: 1rem;
	border: 1px solid rgb(0 0 
0 /0.2);
	padding: 1rem;
}

legend {
	padding: 0.5 rem;
	color: navy;
	font-size: 1.2 rem;
}

label {
	font-size: 1.6rem;
	color: blueviolet;
	text-align: right;
	padding-right: 1rem;

}

input {
	font-size: 1.8rem;
	color: rgb(75, 15, 131);
}

button {
	font-size: 1.8rem;
	color: #fff;
	margin: 1rem;
	background-color: navy;
	border: none;
	border-radius: .5rem;
	padding: .75rem;
	font-size: 1.2rem; 
}

button:hover {
	background-color: rgb(53, 
208, 53);
}

select {
	font-size: 1.8rem;
	color: rgb(42, 11, 104);
}
textarea {
	font-size: 1.8rem;
	color: rgb(160, 144, 176);
}

label, input, button, select, 
textarea {
	font-family: Roboto, Arial, 
sans-serif;
}

input, select, textarea {
	padding: 0.5rem;
	font-size: 1.1 rem;
}

input[type="checkbox"] {
	width: 22px;
	height: 22px;
	vertical-align: bottom;
}



table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;

}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}


.form-item{
	display: grid;
	align-items: center;

}

.column1 {
	grid-template-columns: 3fr 
1fr;
	margin: 0.5rem 0;
}

.column2 {
	grid-template-columns: 1fr 
2fr;
}




/*********END


/*********************Table*************/







/****************FOOTER**********************/


/***** FOOTER with COPYWRITE and SOCIAL LINKS  ***/

.footer-container {

	display: grid;
	background-color: aqua;
	min-height: 64px;

	grid-template-rows: 1fr .25fr ;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;

}
.wireframe-link {
	
	
	padding-top: 20px;
	padding-left: 40px;
	color: black;
	align-content: center;
	align-items: center;
	border: 2px solid darkblue;
	
}

.wireframe-link-trip {

	padding-top: 20px;
	padding-left: 40px;
	color: black;
	align-content: center;
	align-items: center;
	border: 2px solid darkblue;
	
}
.wireframe-link img {
	height: 50px;

}



.wirefig {
	color:#0E2449;
}

.footer-container p {
	grid-column: 2 / span 2;
	font-size: 20px;

}


.social-list {

	display: flex;
	text-decoration: none;
	gap: 40px;
	justify-content: space-around;
	
} 

social-link {

justify-content: space-around;

}

/*
social-link img {
	height: 50px;
	padding: 150px;
	margin: 50px;
}
*/