/* Kayla Powers WDD130 Rivers Whitewater Company About page */
*{
	margin: 0;
	padding: 0;
}

:root
{
	
	--heading-text-color: #9ab31e;
	--heading-font: 'Montserrat', Helvetica, sans-serif;
	--padding: 1 rem;
	--border: 1px solid rgb (0 0 0 / 0.1)


	/* colors pulled from logo */
	/* colors pulled from logo */
	--primary-color:: 
	/* rust */
	--secondary-color:#509AA0;
	/*Dark blue*/
	--accent1-color: #7c6d0e;
	/* yellow-tan*/
	--accent2-color: #509AA0;
	/*light blue*/
	--accent3-color: #5C1A3A;
	/*maroon*/

	--heading-background-color: var(--accent2-color);
	--footer-background-color: var(--accent1-color);
	

}
	

/* header container*/
header {
	
	
	background-color: var(--heading-background-color);
	color:var(--accent3-color);
	
	width: 100%;
	height: auto;

}

header img {

	width: 100px;
	right: 1px;
	top: 10px;
	

}
header nav {

position: absolute;
top: 10px;
right: 10px;
color: whitesmoke;


}

.navbutton {

	border: 5px red;
	width: 15px;
}

main {
	max-width: 840px;

	} 

h2 {

font-size: 2.5rem;
text-shadow: 3px ;
color: blue;
width: 100%;
text-align: center;

}

/* hero container holding the image and text*/
div.hero {

	position: relative;
	text-align: center;
	color: rgb(181, 65, 65);
	width: 100%;
}


/*hero  image inside the container  */
.hero img
{
	position: relative;
	width: 100%;
	object-fit: cover;
	opacity: 60%;
} 

.hero h1 {  
 
	position: absolute;
	width: 100%;
	/* background-color: #7c6d0e; */
	text-align: center;
	color: black;
}

article {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 60px;
	margin: 30px;
	border:5px #000;
	border-right: 40px;
}

.hero-overlay img {
	/*
	position: absolute;
	top: 40px;
	right: 15px;
	*/
	border-right: 40px;
	width: 45%;
	float: right;
	opacity: 100%;

}

.overlay p {
/*
	position: absolute;
	top: 8 px;
	left: 2 px;
	*/
	width: 50%;
	height: auto;
	float: left;
	color:#0f1050;
	text-align: center;

}


footer
{
	height: 75px;
	bottom: 0px;
	
	border-top: 1px solid #000;
	background-color: rgb(92, 67, 207);
	text-align: left;
	position: relative;
}

footer p {
 margin-top: 15px;
 margin-left: 25px;
 display: inline-block;
 text-align: center;

}

.socialicons {

	position: relative;
	text-align: center;
	margin-top: 300px !important;
	border: 1px solid white;
}

footer img
{
	
	text-decoration: none;
	margin-right: 20px;

	width: 30 px;
	height: 35px;
	float: right;


}

